In [1]:
import pandas as pd
from datetime import datetime
  
from src.feature_pipeline.data_extraction import get_daily_ohlc, update_ohlc, get_api_response, get_newest_local_dataset
from src.feature_pipeline.data_transformations import transform_ts_data_into_features_and_target, get_preprocessing_pipeline

from src.feature_pipeline.feature_engineering import RSI
from src.paths import DAILY_DATA_DIR

## GBP - GHS

### Get Data

In [ ]:
latest_data = update_ohlc()

In [2]:
latest_data = get_newest_local_dataset()

In [3]:
latest_data

,Date,Opening rate (GBPGHS),Peak rate (GBPGHS),Lowest rate (GBPGHS),Closing rate (GBPGHS)
0,2017-01-01,5.112800,5.112800,5.112800,5.112800
1,2017-01-02,5.267100,5.267100,5.260600,5.266000
2,2017-01-03,5.181200,5.181200,5.153600,5.155300
3,2017-01-04,5.158700,5.207100,5.158700,5.179300
4,2017-01-05,5.261700,5.261700,5.254600,5.256000
...,...,...,...,...,...
2251,2024-01-12,15.260923,15.260923,15.208445,15.218883
2252,2024-01-14,15.204556,15.204556,15.204556,15.204556
2253,2024-01-15,15.217113,15.217113,15.215609,15.215609
2254,2024-01-23,15.300681,15.300681,15.300681,15.300681
2255,2024-01-24,15.327337,15.376074,15.327337,15.376074

In [4]:
features, target = transform_ts_data_into_features_and_target(original_data=latest_data)

In [5]:
pipeline = get_preprocessing_pipeline()
pipeline.fit_transform(features)